<div id="page-container" class="">
    <app-top-nav></app-top-nav>
    <div class="container mat-card-parent" fxFlexFill>
        <mat-card fxLayout="row" fxLayoutGap="30px" class="mat-crd-style" fxFlexFill>
            <mat-card class="child-1" fxFlex="20">
                <app-side-nav></app-side-nav>
            </mat-card>
            <mat-card class="child-2 mat-crd-router" fxFlex="80">
                <router-outlet></router-outlet>
            </mat-card>
        </mat-card>
    </div>
</div>