<div class="container-fluid">
    <p [innerHTML]="selectedItem"></p>
    <!-- the grid -->
    <wj-flex-grid #flex
        [itemsSource]="data" 
        [itemFormatter]="itemFormatter"
        (initialized)="flexInitialized(flex)">
        <wj-flex-grid-column  [binding]="'country'" width="2*">
          <ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'" let-cell="cell">
          
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <span style="position:fixed;" #spanTrigger class="context-menu-trigger" #matTrigger="matMenuTrigger" [matMenuTriggerFor]="contextMenu"></span>
          <div (contextmenu)="openContextMenu($event, matTrigger, spanTrigger)"> {{ "C" }} </div>
          <mat-menu #contextMenu="matMenu"> 
              <div  *ngFor="let cl of filterColumns[0].itemList; index as i">
                  <input type="checkbox" (click)="makeChange(cl, cl.items, columnNames[0].Key)" [(ngModel)]="cl.status">&nbsp; {{ cl.items }} <br/>
              </div>
          </mat-menu>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"></div>
            </div>
          </div>
            
          
          </ng-template>
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  width="1*" let-cell="cell">
                <div>{{ cell.item.country }}</div>
              </ng-template>
              <ng-template wjFlexGridCellTemplate [cellType]="'ColumnFooter'" let-cell="cell">
                Footer
              </ng-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column [header]="'A'" [binding]="'sales'" width="1*" format="c2">
          
          <ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'" let-cell="cell">
            <div>{{"A"}}</div>
          </ng-template>
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                {{ cell.item.sales }}
              </ng-template>
              <ng-template wjFlexGridCellTemplate [cellType]="'ColumnFooter'" let-cell="cell">
                Footer
              </ng-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column [header]="'B'" [binding]="'expenses'" width="1*" format="c2">
          <ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'" let-cell="cell">
            <div>{{"D"}}</div>
          </ng-template>
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                {{ cell.item.expenses }}
              </ng-template>
              <ng-template wjFlexGridCellTemplate [cellType]="'ColumnFooter'" let-cell="cell">
                Footer
              </ng-template>
        </wj-flex-grid-column>
    </wj-flex-grid>
</div>
<div class="container-fluid">
  <div class="form-group">
      <wj-flex-chart #flexC bindingX="country" [itemsSource]="datass" [palette]="palette" [tooltipContent]="tooltipContent" (initialized)="flexCInitialized(flex)">
          <wj-flex-chart-legend position="Bottom"></wj-flex-chart-legend>
          <wj-flex-chart-series binding="sales" name="Sales"></wj-flex-chart-series>
          <wj-flex-chart-series binding="downloads" name="Downloads"></wj-flex-chart-series>
      </wj-flex-chart>
  </div>
</div>