
<div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <mat-card class="example-card col-props">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Mithun Raj</mat-card-title>
                <mat-card-subtitle>Software Enginner</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/avatar-lg.png">
            <mat-card-content>
                <div class="bg">
                    Here I Implemented Custom Pipes
                    <div>{{ mark | custPercentagen }}</div>
                    <div>{{ mark  }}</div>
                </div>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6 ">
        <mat-card class="example-card col-props">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Mithun Raj</mat-card-title>
                <mat-card-subtitle>Software Enginner</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/avatar-lg.png">
            <mat-card-content>
                <div class="bg">
                    Here I Implemented Custom Pipes
                    <div>{{ mark | custPercentagen }}</div>
                    <div>{{ mark  }}</div>
                </div>
            </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-card class="example-card col-props">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Mithun Raj</mat-card-title>
                <mat-card-subtitle>Software Enginner</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/avatar-lg.png">
            <mat-card-content>
                <div class="bg">
                    Here I Implemented Custom Pipes
                    <div>{{ mark | custPercentagen }}</div>
                    <div>{{ mark  }}</div>
                </div>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card class="example-card col-props">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Mithun Raj</mat-card-title>
                <mat-card-subtitle>Software Enginner</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/avatar-lg.png">
            <mat-card-content>
                <div class="bg">
                    Here I Implemented Custom Pipes
                    <div>{{ mark | custPercentagen }}</div>
                    <div>{{ mark  }}</div>
                    <div>{{ name }}</div>
                </div>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card class="example-card col-props">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Mithun Raj</mat-card-title>
                <mat-card-subtitle>Software Enginner</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/avatar-lg.png">
            <mat-card-content>
                <div class="bg">
                    Here I Implemented Custom Pipes
                    <div>{{ mark | custPercentagen }}</div>
                    <div>{{ mark  }}</div>
                </div>
            </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>