<div class="container-fluid">

  <div class="row">
      <!-- search box -->
      <div class="toolbar-item col-sm-3 col-md-5">
          <wj-flex-grid-search [placeholder]="'Search'" [grid]="flex" cssMatch="">
          </wj-flex-grid-search>
      </div>

      <!-- data size -->
      <div class="toolbar-item col-sm-3 col-md-3">
          <div class="input-group">
              <span class="input-group-addon">Items:</span>
              <select class="form-control" [(ngModel)]="itemsCount" name="itemsCount">
                  <option value="5">5</option>
                  <option value="50">50</option>
              </select>
          </div>
      </div>

      <!-- export to Excel -->
      <div class="toolbar-item col-sm-3 col-md-2">
          <button [disabled]="excelExportContext.preparing" (click)="exportToExcel()"
              class="btn btn-default btn-block">
              {{excelExportContext.exporting ? ('Cancel (' + (excelExportContext.progress | percent) + ' done)')  : 'Export To Excel'}}
          </button>
      </div>

      <!-- export to PDF -->
      <div class="toolbar-item col-sm-3 col-md-2">
          <button (click)="exportToPdf()" class="btn btn-default btn-block">Export To PDF</button>
      </div>
  </div>

  <!-- group panel -->
  <wj-group-panel [grid]="flex" [placeholder]="'Drag columns here to create groups'">
  </wj-group-panel>

  <!-- the grid -->
  <wj-flex-grid #flex id="theGridTallRows" [autoGenerateColumns]="false" [allowAddNew]="true" [allowDelete]="true"
      [allowPinning]="'SingleColumn'" [itemsSource]="itemsSource" [newRowAtTop]="true" [showMarquee]="true"
      [selectionMode]="'MultiRange'" [validateEdits]="false" [itemFormatter]="itemFormatter">

      <wj-flex-grid-filter
          [filterColumns]="['id', 'date', 'time', 'countryId', 'productId', 'colorId', 'price', 'change', 'discount', 'rating', 'active']">
      </wj-flex-grid-filter>

      <wj-flex-grid-column binding="id" header="ID" [width]="70" [isReadOnly]="true"></wj-flex-grid-column>
      <wj-flex-grid-column binding="date" header="Date" format="MMM d yyyy" [isRequired]="false" [width]="130"
          [editor]="theInputDate">
      </wj-flex-grid-column>
      <wj-flex-grid-column binding="countryId" header="Country" [dataMap]="countryMap" [width]="145">
          <ng-template wjFlexGridCellTemplate cellType="Cell" let-cell="cell">
              <span class="flag-icon flag-icon-{{getCountry(cell.item).flag}}"></span>
              {{getCountry(cell.item).name}}
          </ng-template>
      </wj-flex-grid-column>
      <wj-flex-grid-column binding="price" header="Price" format="c" [isRequired]="false" [width]="100">
      </wj-flex-grid-column>
      <wj-flex-grid-column binding="history" header="History" [width]="180" [align]="'center'" [allowSorting]="false"
          [cellTemplate]="historyCellTemplate">
      </wj-flex-grid-column>
      <wj-flex-grid-column binding="change" header="Change" [align]="'right'" [width]="115">
          <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
              <span [ngClass]="getChangeCls(cell.item.change)">
                  {{cell.item.change }}
              </span>
          </ng-template>
      </wj-flex-grid-column>
      <wj-flex-grid-column binding="rating" header="Rating" [width]="180" [align]="'center'" cssClass="cell-rating"
          [cellTemplate]="ratingCellTemplate">
      </wj-flex-grid-column>
      <wj-flex-grid-column binding="time" header="Time" format="HH:mm" [isRequired]="false" [width]="95"
          [editor]="theInputTime">
      </wj-flex-grid-column>
      <wj-flex-grid-column binding="colorId" header="Color" [dataMap]="colorMap" [width]="145">
          <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
              <span class="color-tile" [ngStyle]="{'background': getColor(cell.item).value}"></span>
              {{getColor(cell.item).value}}
          </ng-template>
      </wj-flex-grid-column>
      <wj-flex-grid-column binding="productId" header="Product" [dataMap]="productMap" [width]="145">
      </wj-flex-grid-column>
      <wj-flex-grid-column binding="discount" header="Discount" format="p0" [width]="130"></wj-flex-grid-column>
      <wj-flex-grid-column binding="active" header="Active" [width]="100"></wj-flex-grid-column>

  </wj-flex-grid>

  <!-- custom editors -->
  <wj-input-date #theInputDate 
      format="MM/dd/yyyy"
      [isRequired]="false">
  </wj-input-date>
  <wj-input-time #theInputTime
      format="HH:mm"
      [isRequired]="false">
  </wj-input-time>
</div>