html, body {
    height: 100%;
    width: 100%;
  }
.container {
    height: 100%;
    min-width: 100%;
    background-image: url('../../../assets/img/lg-bg.jpg');
    background-color: chocolate;
    // position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .row-setter{
    padding: 25px;
  }