<form [formGroup]="form" class="baseForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Select Cities</mat-label>
                <mat-select formControlName="city">
                    <div *ngFor="let ci of cityList; index as i">
                        <mat-option [value]="ci">{{ ci }}</mat-option>
                    </div>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Select Condition</mat-label>
                <mat-select formControlName="condition">
                    <div *ngFor="let cl of conditionList; index as i">
                        <mat-option [value]="cl">{{ cl }}</mat-option>
                    </div>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Select Cities</mat-label>
                <mat-select formControlName="city2">
                    <div *ngFor="let ci of cityList; index as i">
                        <mat-option [value]="ci">{{ ci }}</mat-option>
                    </div>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field><br>
        </div>
    </div>

    <button>Submit</button>
    <button type="button" (click)="visiblity()">Show Extra From Control</button>
</form>
<form [formGroup]="form1" class="unwantedForm" (ngSubmit)="onSubmit1()">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Select Cities</mat-label>
                <mat-select formControlName="city1">
                    <div *ngFor="let ci of cityList; index as i">
                        <mat-option [value]="ci">{{ ci }}</mat-option>
                    </div>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>
        </div>
    </div>
</form>
<div *ngIf="seconformVisibleYN">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Select Cities</mat-label>
                    <mat-select formControlName="city3">
                        <div *ngFor="let ci of cityList; index as i">
                            <mat-option [value]="ci">{{ ci }}</mat-option>
                        </div>
                    </mat-select>
                    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <button>Submit</button>
    </form>
</div>
<app-form-child [cityList]="cityList" (onSubmitEmit)="onSubmit()" [form]="form">

</app-form-child>