.wj-flexgrid {
    max-height: 250px;
    margin-bottom: 12px;
}

.wj-cells .wj-cell:hover {
    overflow: visible;
    z-index: 6;
    color: black;
    text-shadow:
        /* many shadows blur out the area around the text */
        0 0 1px white,
        0 0 2px white,
        0 0 3px white,
        0 0 4px white,
        0 0 5px white,
        0 0 6px white,
        0 0 7px white,
        0 0 8px white,
        0 0 9px white,
        0 0 10px white
}

/* prevent overflowing over the headers */
.wj-rowheaders,
.wj-colheaders,
.wj-topleft {
    z-index: 7;
}